<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
</head>
<body>
    <h1>Random Word (attempt # {{ request.session.count }})</h1>
    <h3>{{ request.session.word }}</h3>
    <form action="/random_word", method="POST">
        {% csrf_token %}
        <input type='submit' value='Generate'>
    </form>
    <form action='/reset', method='POST'>
        {% csrf_token %}
        <input type='submit' value='Reset'>
</body>
</html>